.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10rem;
    background: black;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.icon{
    font-size: 30px;
    transition: all 300ms ease;
}
.navbar-left{
    display: flex;
    align-items: center;
}
.navbar-left button{
    text-decoration: none;
    color: white;
    background: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.navbar-middle img{
    height: 30px;
    margin: 10px 50px;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
}
.navbar-right span{
    color: white;
    margin-right: 30px;
    cursor: pointer;
    transition: all 300ms ease;

}

.navbar-right span:hover{
    color: var(--col1);
}
.navbar .icon:hover{
    fill: var(--col1);
}

.navbar-right button{
    background-color: black;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    transition: all 300ms ease;
}
.navbar-right button:hover{
    background-color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
    color: gray;
    cursor: pointer;
}