*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --col1: #ffde59;
    --col2: #ffde592b;
    --col3: gray;
    --errorcol: red;
}
.head_1{
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-top: 5rem;
}
body{
    background: rgba(128, 128, 128,0.5);
}

.forminput_cont{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 10px;
    align-items: center;
}
.forminput_cont input, select{
    color: #333;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    border: none;
    width: 90%;
    display: block;
    border: 1px solid var(--col1);
}
.forminput_cont input:focus,
.forminput_cont textarea:focus
{
    outline: none;
    box-shadow: 0px 0px 10px 0px var(--col1);
}
.forminput_cont label{
    font-size: 1.2rem;
    margin-top: 0.7rem;
    display: block;
    color: var(--col1);
    width: 100%;
    padding-left: 3.2rem;
}
.forminput_cont textarea{
    color: #333;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    border: none;
    width: 90%;
    display: block;
    border: 1px solid var(--col1);
    min-height: 300px;
}

.main_button{
    background: white;
    color: var(--col1);
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--col1);
    width: fit-content;
    align-self: center;
    margin: 10px;
    
}
.main_button:hover{
    border: 1px solid var(--col);
    background-color: var(--col1);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.paragraph{
    margin: 30px 20px;
    box-shadow: 0 0 10px 0 var(--col1);
    display: flex;
    flex-direction: column;
    background: var(--col2);
}

.formerror{
    color: var(--errorcol);
}

.loaderfullpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f43;
    position: fixed;
    z-index: 999;
  }
  
  
  
  .sliderout{
    margin:10px 0px;
  }
  
  .sliderout h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--col1);
    margin: 10px auto;
    width: fit-content;
    padding: 5px 10px;
    border-bottom: 4px solid var(--col1);
    align-self: center;
  }
  @media (max-width: 768px){
    .forminput_cont input,
    .forminput_cont textarea,
    select{
        font-size: 0.8rem;
    }
  }